/* AppComponent's private CSS styles */
h1 {
    font-size: 1.2em;
    margin-bottom: 0;
  }
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }

  .caption{
    padding-left: 10px;
  }

  mat-sidenav-container, mat-sidenav, mat-sidenav-content{
    height: 100%;
  }
  mat-sidenav{
    width: 230px;
  }
  .container{
    max-width: 1024px;
  }
  a{
    text-decoration: none;
    color: #fff;
  }

.side-nav-link:hover{
    background-color: #000;
  }
  