a{
    text-decoration: none;
    color: #fff;
}

.hero{
    min-width: 300px;
    padding: 1rem;
    background-color: #000;
    margin-top: 1rem;
    margin-left: 0.2rem;
}
.hero:hover{
    background-color: #0000;
}

.hero-list{
    display: flex;
    flex-wrap: wrap;
}