<mat-form-field style="width: 100%; margin-top: 1rem" appearance="outline">
  <input matInput 
    placeholder="Add Hero"
    #heroName /> 
</mat-form-field>&nbsp;
<button mat-raised-button
  (click)="add(heroName.value); heroName.value=''">
  Add
</button>

<h2 class="mt-2">My Heroes</h2>
<div class="container mt-1">
  <div class="hero-list">
    <div class="hero" *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}"> 
          <span>{{hero.id}}&nbsp;</span>
          <span>{{hero.name}}</span>
        </a>
        <div fxFlex fxFlexLayout="space-between"></div>
        <mat-icon color="warn"  
          (click)="delete(hero)">delete_outline</mat-icon>
    </div>
  </div>
</div>